[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/starknet-token"]
	path = lib/starknet-token
	url = https://github.com/starknet-io/starknet-token.git
