[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/starknet-token"]
	path = lib/starknet-token
	url = https://github.com/starknet-io/starknet-token.git
[submodule "lib/cairo-lang"]
	path = lib/cairo-lang
	url = https://github.com/starkware-libs/cairo-lang
[submodule "lib/piltover"]
	path = lib/piltover
	url = https://github.com/keep-starknet-strange/piltover
[submodule "lib/starkgate-contracts"]
	path = lib/starkgate-contracts
	url = https://github.com/starknet-io/starkgate-contracts
[submodule "lib/starkgate-contracts-0.9"]
	path = lib/starkgate-contracts-0.9
	url = https://github.com/starknet-io/starkgate-contracts
	branch = update-cairo-0.9.0
[submodule "lib/starkgate-contracts-82e651f"]
	path = lib/starkgate-contracts-82e651f
	url = https://github.com/starknet-io/starkgate-contracts.git
